{% extends "layout.html" %}
  
{% block content %}
    <head>
        <title>Have Your Say</title>
    </head>
  
    <!-- Page Content -->
    <div class="container colour">

        <!-- Team Members Row -->
        <div class="row">
            
            
            <div class="col-lg-12 col-sm-4 book-title title">
                <h2>Have Your Say...</h2>
                <p class="book"><i>See comments other book lovers have left!</i></p>
                <div class="col-lg-4 col-sm-4 comment">
                    <center><h4><b>Just Friends</b></h4>
                    <p>Rayann Tedds - May 2015</p>
                    <p>I am currently reading this book and so far, so good!</p>
                </div>
                <div class="col-lg-4 col-sm-4 comment1">
                    <center><h4><b>Another comment here</b></h4>
                    <p>Name - Date</p>
                    <p>Comment!</p>
                </div>
                <div class="col-lg-4 col-sm-4 comment">
                    <center><h4><b>Another comment here</b></h4>
                    <p>Name - Date</p>
                    <p>Comment!</p>
                </div>
            </div>
            
            <div class="col-lg-12 book-title ">
                <p class="none"><b><center>Recently added reviews</center></b></p>
                <div class="col-lg-2 ">
                    <a href="#" id="gsaw" onclick="document.location='/gsaw.html';return false">
                        <img class="img-circle img-n" alt="" src="static/img/gsaw.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="soh" onclick="document.location='/soh.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/soh.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tswk" onclick="document.location='/tswk.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tswk.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tkr" onclick="document.location='/tkr.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tkr.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="cft" onclick="document.location='/cft.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/cft.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tgg" onclick="document.location='/tgg.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tgg.png"/>
                    </a>
                </div>
            </div>
            
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rayann Tedds 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
{% endblock %}