<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/recent-reviews.css">    
    <link href="css/round-about.css" rel="stylesheet">
    <script src="static/js/pages.js"></script>
  </head>
  
  <header>
    <img class="background" src="static/img/open-book.jpg" alt="">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/about-rayann.html">About Rayann</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/a-z.html">A - Z</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/recent.html">Most Recent</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/jf.html">Currently Reading</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/comments.html">Have Your Say</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  </header>
  
  <body>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  

</html>