{% extends "layout.html" %}
  
{% block content %}
    <head>
        <title>Most Recent</title>
    </head>
    
    <!-- Page Content -->
    <div class="container colour">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">What's The Latest?</h1>
                <p>Below, you can see the 6 most recent book reviews. Click on a section for the review and further details.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center height hover">
                <a id="gsaw" onclick="document.location=this.id+'.html';return false;" >
                    <img src="static/img/gsaw.png" alt="" class="img-center img-circle" />
                    <h3>Go Set A Watchman <small>Harper Lee</small></h3>
                    <p>Harper Lee's sequel novel to the much loved <i>'To Kill A Mockingbird'.</i></p>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center height">
                <a id="soh" onclick="document.location=this.id+'.html';return false;" >
                    <img class="img-circle img-responsive img-center" src="static/img/soh.png" alt="">
                    <h3>Shopaholic on Honeymoon<small>Sophie Kinsella</small></h3>
                    <p>Becky returns in part 3.5 of the <i>Shopholic</i> series.</p>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center height">
                <a id="tswk" onclick="document.location=this.id+'.html';return false;" >
                    <img class="img-circle img-responsive img-center" src="static/img/tswk.png" alt="">
                    <h3>The Secrets We Keep
                        <small>Jonathan Harvey</small>
                    </h3>
                    <p>There are some things you can never forget.</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center height">
                <a id="tkr" onclick="document.location=this.id+'.html';return false;" >
                    <img class="img-circle img-responsive img-center" src="static/img/tkr.png" alt="">
                    <h3>The Kite Runner
                        <small>Khaled Hosseini</small>
                    </h3>
                    <p>As a boy in Afganistan, over 26 years ago, Amir experienced an event that would change his life forever.</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center height">
                <a id="cft" onclick="document.location=this.id+'.html';return false;" >
                    <img class="img-circle img-responsive img-center" src="static/img/cft.png" alt="">
                    <h3>Cocktails for Three
                        <small>Madeleine Wickham</small>
                    </h3>
                    <p><i>Sophie Kinsella</i> writes as Madeleine Wickham within a story of secrets, strangers and a splash of scandal.</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center height">
                <a id="tgg" onclick="document.location=this.id+'.html';return false;" >
                    <img class="img-circle img-responsive img-center" src="static/img/tgg.png" alt="">
                    <h3>The Great Gatsby
                        <small>F. Scott Fitzgerald</small>
                    </h3>
                    <p>The classic novel of triumph and tragedy which sees Gatsby's quest lead him from poverty to wealth.</p>
                </a>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rayann Tedds 2016</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}